<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samantha Samosir - Portfolio</title>
    <link rel="icon" href="{{ url_for('static', filename='images/poodle.webp')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Google Fonts Import -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
</head>
<body>
    <div class="container">
        <div class="left-section">
            <h1>Samantha Samosir</h1>
            <h2>Adventurous Coder & Space Enthusiast</h2>
            <p>I code with purpose to build innovative solutions,<br> inspire minds, pave the
                way for future generations,<br> and promote free accessible learning for all.</p>
            <nav>
                <ul>
                    <li class="active"><a href="#about">About</a></li>
                    <li><a href="#experience">Experiences</a></li>
                    <li><a href="#certifications">Licenses & Certifications</a></li>
                    <li><a href="#educations">Educations</a></li>
                </ul>
            </nav>
            <div class="social-icons">
                <!-- Add social media icons/links here -->
                <a href="https://github.com/SamanthaSamosir" target="_blank">
                    <img class ="icon-bg" src="{{ url_for('static', filename='images/github.webp') }}" alt="GitHub" style="width: 20px; height: 20px;">
                </a>
                <a href="https://www.linkedin.com/in/samanthameliorasamosir/" target="_blank">
                    <img src="{{ url_for('static', filename='images/linkedin.webp') }}" alt="Linkedin" style="width: 30px; height: 30px;">
                </a>
                <a href="https://www.instagram.com/samanthameliora/" target="_blank">
                    <img src="{{ url_for('static', filename='images/instagram.webp') }}" alt="Instagram" style="width: 30px; height: 30px;">
                </a>
                <a href="https://strava.app.link/SnRwn9W5aNb" target="_blank">
                    <img src="{{ url_for('static', filename='images/strava.webp') }}" alt="Strava" style="width: 30px; height: 30px;">
                </a>
            </div>
        </div>

        <div class="right-section">
            <section id="about" class="about">
                <p>
                    In 2018, I chose to study IT, driven by my passion for solving puzzles and understanding technology. My curiosity about diverse tech environments led me to explore various industries, such as pharmaceuticals, telemedicine, banking, and business, and take on roles like full-stack developer, QA automation specialist, and DevOps engineer.
                    <br><br>Volunteering with children at Yayasan Kasih Anak Kanker Indonesia (YKAKI) and orphanages, teaching programming or English, sparked my love for education. After graduating, I continued this passion by teaching kids programming, while also challenging myself as a QA Analyst.
                    <br><br>Currently, I’m diving into cybersecurity, driven by concerns about Indonesia's digital safety. I'm part of the Digital Talent Scholarship by Kominfo and seeking scholarships for a master’s in cybersecurity. My goal is to become an expert, offer local training, and launch "Melek," a startup focused on research and solutions. I aspire to collaborate with KOMINFO and BRIN to enhance Indonesia’s cybersecurity.
                </p>
            </section>
            <section id="experience" class="experience">
                <h2 class="underline">Experiences</h2>
                <div class="experience-content">
                    <h4>PT. Bank Tabungan Negara (Persero), Tbk</h4>
                    <p><strong>Role:</strong> Quality Assurance Analyst (Oct 2023–Nov 2024)</p>
                        <ul>
                            <li>Conducted manual testing for 30 projects and automated testing using Tosca, Selenium, or Katalon.</li>
                            <li>Developed and executed automated regression and performance tests using JMeter and K6, enhancing test coverage and efficiency.</li>
                            <li>Collaborated with stakeholders across departments, gathering requirements and aligning technology projects with organizational goals.</li>
                        </ul>
                </div>
                <div class="experience-content">
                    <h4>Metrocom Jaddi Technology</h4>
                    <p><strong>Role:</strong> Quality Assurance Analyst (Oct 2023–Nov 2024)</p>

                        <ul>
                            <li>Performed performance, functionality, system integration, and user acceptance testing on banking software.</li>
                            <li>Delivered comprehensive test cases, user manuals, and test scripts.</li>
                            <li>Tracked bug reports, facilitating efficient resolution and improving software quality.</li>
                        </ul>

                </div>
                <div class="experience-content">
                    <h4>PT. Kita Lulus Internasional</h4>
                    <p><strong>Role:</strong> QA Engineer Intern (May-Aug 2023)</p>

                        <ul>
                            <li>Assisted in creating detailed test plans and developed automation scripts using Robot Framework and Appium for Android device testing.</li>
                            <li>Identified and documented software defects, providing clear and reproducible steps to aid developers in quick issue resolution.</li>
                            <li>Engaged in cross-functional team meetings, contributing to strategic decisions and coordination of testing activities.</li>
                        </ul>

                </div>
                <div class="experience-content">
                    <h4>PT. Codemi Global</h4>
                    <p><strong>Role:</strong> Quality Assurance Automation Intern (Nov 2021–May 2022)</p>

                        <ul>
                            <li>Developed and maintained automated test scripts using Selenium, Python, and Appium for Android testing.</li>
                            <li>Identified and documented defects, ensuring robust test coverage and smooth software releases for mobile and web applications.</li>
                            <li>Collaborated closely with developers, participated in release activities, and optimized the automation framework.</li>
                        </ul>

                </div>
                <div class="experience-content">
                    <h4>Algorithmics Global</h4>
                    <p><strong>Role:</strong> Coding Teacher (Sep 2023–now)</p>

                        <ul>
                            <li>Created engaging learning experiences using Python and visual programming tools, including Roblox Studio or Scratch.</li>
                            <li>Implemented interactive teaching methodologies to simplify complex concepts, enhancing comprehension for young learners.</li>
                            <li>Focused on digital literacy, programming basics, and game design to foster problem-solving skills.</li>
                        </ul>
                </div>
                <div class="experience-content">
                    <h4>Koding Next Cikarang</h4>
                    <p><strong>Role:</strong> Coding Teacher (Aug 2022–Sep 2023)</p>
                        <ul>
                            <li>Designed lesson plans and taught Python programming, visual coding, and game development to children aged 4-16.</li>
                            <li>Created an engaging and safe learning environment, enhancing students’ programming skills and encouraging creativity.</li>
                            <li>Evaluated student progress and provided constructive feedback, fostering a positive learning atmosphere.</li>
                        </ul>
                </div>
                <div class="experience-content">
                    <h4>PT. Kimia Farma Tbk</h4>
                    <p><strong>Role:</strong> Full-stack Developer Intern (Oct 2021–Apr 2022)</p>
                        <ul>
                            <li>Developed and maintained web applications using Laravel, JavaScript, and MySQL.</li>
                            <li>Designed and implemented efficient database schemas, wrote queries, and developed APIs.</li>
                            <li>Produced clean, maintainable code aligned with coding standards and industry best practices.</li>
                        </ul>
                </div>
            </section>
            <section id="certifications" class="certifications">
                <h2 class="underline">Licenses & Certifications</h2>
                <div class="certifications-content">
                    <h4>Website Hacking/Penetration Testing</h4>
                    <p><strong>Issued by:</strong><a href="https://ude.my/UC-69e9dbe5-565f-47b6-80e1-2cbba6db6473" target="_blank" class="link"> Zaid Sabih (Sep 5, 2024)
                    <span class="arrow">🔗</span></a>
                    </p>
                </div>
                <div class="certifications-content">
                    <h4>hackjakarta Certificate of Participation</h4>
                    <p><strong>Issued by:</strong><a href="https://www.virtualbadge.io/certificate-validator?credential=418b21e2-24de-4e3b-b218-62b007b98681" target="_blank" class="link"> AngelHack (Aug 2024-Oct 2025)
                    <span class="arrow">🔗</span></a>
                    </p>
                    <p><strong>Project:</strong><a href="https://www.canva.com/design/DAGMLCXyoo8/DsZEaLd2gmMxCpfrfBcVbQ/edit" target="_blank" class="link"> Boosting Grab Food’s Sales through an Interactive Video Reviews Feature with Video-to-Text AI Implementation
                    </a>
                    </p>
                </div>
                <div class="certifications-content">
                    <h4>100 Days of Code: The Complete Python Pro Bootcamp</h4>
                    <p><strong>Issued by:</strong><a href="https://www.udemy.com/certificate/UC-88cbcc84-c221-46e8-8bd0-9238fdc7f39b/" target="_blank" class="link"> Dr. Angela Yu (Jun 18, 2024)
                    <span class="arrow">🔗</span></a>
                    </p>
                </div>
                <div class="certifications-content">
                    <h4>Tricentis Tosca Fundamentals - Automating web application testing (AS1)</h4>
                    <p><strong>Issued by:</strong><a href="https://verify.skilljar.com/c/2mhgtfm2mk3y" target="_blank" class="link"> Tricentis (Nov 2023)
                    <span class="arrow">🔗</span></a>
                    </p>
                </div>
                <div class="certifications-content">
                    <h4>Tricentis Tosca Fundamentals - Optimizing test automation with centralized test data (AS2)</h4>
                    <p><strong>Issued by:</strong><a href="https://verify.skilljar.com/c/tpeav576b55f" target="_blank" class="link"> Tricentis (Nov 2023)
                    <span class="arrow">🔗</span></a>
                    </p>
                </div>
                <div class="certifications-content">
                    <h4>Technical Support Fundamentals</h4>
                    <p><strong>Issued by:</strong><a href="https://www.coursera.org/account/accomplishments/certificate/DEC4UHCFMQ2S" target="_blank" class="link"> Google (Apr 2023)
                    <span class="arrow">🔗</span></a>
                    </p>
                </div>
            </section>
            <section id="educations" class="experience">
                <h2 class="underline">Educations</h2>
                <div class="education-content">
                    <h4>President University</h4>
                    <p><i>Bachelor of Science in Information Technology (B.Sc.IT)</i></p>
                    <p><strong>Thesis Title:</strong> Real Time Driver Drowsiness Detection Using Transfer Learning</p>

                        <ul>
                            <li>Jababeka’s partial scholarship for 3.5 years of undergraduate studies</li>
                            <li>The outstanding student on President University’s Student Awarding Night</li>
                            <li>One of the sixth team finalists in BCA's Hackathon 2021</li>
                            <li>The Runner-Up of West Java 4th Kyokushin Tournament 2020</li>
                            <li>The Runner-Up (Silver Medalist) of 2nd Nakamura Indonesia Friendship Cup 2019 (Women Open Weight)</li>
                            <li>The Winner of West Java 3rd Kyokushin Tournament 2018 (Women 50 - 55 Kg)</li>
                        </ul>

                </div>
            </section>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
